<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB18MWH7wJ-oSZWAQywL3rd6yZTW5Eccys</string>
	<key>GCM_SENDER_ID</key>
	<string>197618197427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monark1.lillian.Pangea</string>
	<key>PROJECT_ID</key>
	<string>pangea-3bcf8</string>
	<key>STORAGE_BUCKET</key>
	<string>pangea-3bcf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197618197427:ios:50017dbdaeefaf5a7da1c6</string>
</dict>
</plist>