<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>UIAppFonts</key>
	<array>
		<string>13_Misa.TTF</string>
		<string>Abuela Grillo.ttf</string>
		<string>Aerobics.ttf</string>
		<string>pallini.ttf</string>
		<string>Trag.ttf</string>
		<string>Views.ttf</string>
		<string>Orbitronio.ttf</string>
		<string>almonte.otf</string>
		<string>5curvo.ttf</string>
	</array>
</dict>
</plist>
